<!DOCTYPE HTML>
<html>
	<head>
		<title>PHPJabbers.com | Free Job Agency Website Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header" class="alt">
					<a href="/first" class="logo"><strong>Job Agency</strong> <span>Website</span></a>
					<nav>
						<a href="#menu">Menu</a>
					</nav>
				</header>

				<!-- Menu -->
				<nav id="menu">
					<ul class="links">
		                <li> <a href="/first">Home </a> </li>

		                <li class="active"> <a href="/jobs">Jobs</a> </li>

		                <li> <a href="/blog">Blog</a> </li>

		                <li> <a href="/about">About Us</a> </li>

		                <li><a href="/team">Team</a></li>

		                <li><a href="/testimonials">Testimonials</a></li>
		                
		                <li><a href="/terms">Terms</a></li>

		                <li><a href="/contact">Contact Us</a></li>
            		</ul>
				</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<div class="row">
										<div class="col-lg-8">
											<header class="major">
												<h1>Security Officer - Luxury Retail</h1>

												<h4>Security / Protective Services Jobs</h4>

												<h2>$ 60 000</h2>
											</header>
										</div>

										<div class="col-lg-4 text-right">

											<br>
											<br>

											<ul class="icons">
												<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
											</ul>

											<a href="/contact" class="button next scrolly">Apply for this job</a>
										</div>
									</div>
									
									<br>
								</div>
							</section>

							<section id="contact">
								<div class="inner">
									<section>
										<header class="major">
											<h2>Description</h2>
										</header>

							            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, delectus totam non est excepturi expedita, illum vitae vel dolore exercitationem nobis quasi dicta illo id  quas. Error commodi, modi minus. <br><br>
							                Perferendis, quidem, facilis. Aspernatur alias numquam saepe deleniti dolorem quos repudiandae eaque ad eligendi quam, ratione, error minima culpa suscipit nostrum magni omnis est. Suscipit dolor sint aut maiores eius, id nemo, optio, quos tempora cum est quas. At recusandae obcaecati consequatur ipsa dignissimos, eius commodi qui quae exercitationem fugiat, voluptatem, nesciunt!
							              </p>   

							            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptatem vero culpa rerum similique labore, nisi minus voluptatum numquam fugiat. <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugit sint reiciendis quas temporibus quam maxime nulla vitae consectetur perferendis, fugiat assumenda ex dicta molestias soluta est quo totam cum?</p> 

							            <header class="major">
											<h2>About Cannon Guards Security ltd</h2>

											<h4><i class="fa fa-map-marker"></i> London</h4>
										</header>

							            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, vitae!</p>   

							            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dicta, quibusdam sapiente aliquid tempora ipsam modi. Quasi id quia voluptate?</p>

							            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro facere harum nulla excepturi distinctio animi, quo corrupti aspernatur ducimus suscipit! Saepe delectus odio error expedita velit, at, dignissimos consectetur corrupti.</p>
									</section>

									<section class="split">
										<section>
											<img src="images/product-1-720x480.jpg" class="img-responsive" alt="">
										</section>

										<section>
											<div class="contact-method">
												<span class="icon alt fa-user"></span>
												<h3>Name</h3>
												<span>John Smith</span>
											</div>
										</section>

										<section>
											<div class="contact-method">
												<span class="icon alt fa-envelope"></span>
												<h3>Email</h3>
												<a href="#">contact@company.com</a>
											</div>
										</section>
										<section>
											<div class="contact-method">
												<span class="icon alt fa-phone"></span>
												<h3>Phone</h3>
												<span>+1 333 4040 5566</span>
											</div>
										</section>

										<section>
											<div class="contact-method">
												<span class="icon alt fa-globe"></span>
												<h3>Website</h3>
												<a href="http://www.cannonguards.com/">http://www.cannonguards.com/</a>
											</div>
										</section>
									</section>
								</div>
							</section>
					</div>

				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<ul class="icons">
							<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						</ul>
						<ul class="copyright">
							<li>Copyright © 2020 Company Name - Template by:</li>
							<li> <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>
						</ul>
					</div>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>