<!DOCTYPE HTML>
<html>
<head>
    <title>PHPJabbers.com | Free Job Agency Website Template</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <a href="base.html.twig" class="logo"><strong>Job Agency</strong> <span>Website</span></a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li> <a href="/first">Home </a> </li>

            <li class="active"> <a href="/jobs">Jobs</a> </li>

            <li> <a href="/blog">Blog</a> </li>

            <li> <a href="/about">About Us</a> </li>

            <li><a href="/team">Team</a></li>

            <li><a href="/testimonials">Testimonials</a></li>

            <li><a href="/terms">Terms</a></li>

            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main" class="alt">

        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>Jobs</h1>
                </header>
            </div>
        </section>

        <section>
            <div class="inner">
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field quarter">
                            <h5 style="margin-bottom: 15px">Type</h5>

                            <div>
                                <label>
                                    <input type="checkbox">

                                    <small>Contract (5)</small>
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox">

                                    <small>Full time (5)</small>
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox">

                                    <small>Internship (5)</small>
                                </label>
                            </div>
                        </div>

                        <div class="field quarter">
                            <h5 style="margin-bottom: 15px">Category</h5>

                            <div>
                                <label>
                                    <input type="checkbox">

                                    <small>Accounting / Finance / Insurance Jobs (5)</small>
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox">

                                    <small>Accounting / Finance / Insurance Jobs (5)</small>
                                </label>
                            </div>
                        </div>

                        <div class="field quarter">
                            <h5 style="margin-bottom: 15px">Career levels</h5>

                            <div>
                                <label>
                                    <input type="checkbox">

                                    <small>Entry Level (5)</small>
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox">

                                    <small>Entry Level (5)</small>
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox">

                                    <small>Entry Level (5)</small>
                                </label>
                            </div>
                        </div>

                        <div class="field quarter">
                            <h5 style="margin-bottom: 15px">Years of experience</h5>

                            <div>
                                <label>
                                    <input type="checkbox">

                                    <small>&lt; 1 (5)</small>
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox">

                                    <small>&lt; 1 (5)</small>
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox">

                                    <small>&lt; 1 (5)</small>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <!-- Featured Jobs -->
        <section class="tiles">
            <article>
									<span class="image">
										<img src="images/product-1-720x480.jpg" alt="" />
									</span>

                <header class="major">
                    <p>
                        <i class="fa fa-calendar"></i> 15-06-2020 &nbsp;&nbsp;
                        <i class="fa fa-file"></i> Contract &nbsp;&nbsp;
                        <i class="fa fa-map-marker"></i> London
                    </p>

                    <h3>Lorem ipsum dolor sit</h3>

                    <p><strong>$60 000</strong></p>

                    <p> Medical / Health Jobs</p>
                    <p> BMI Kings Park Hospital</p>

                    <div class="major-actions">
                        <a href="/jobdetails" class="button small next">View Job</a>
                    </div>
                </header>
            </article>

            <article>
									<span class="image">
										<img src="images/product-2-720x480.jpg" alt="" />
									</span>

                <header class="major">
                    <p>
                        <i class="fa fa-calendar"></i> 15-06-2020 &nbsp;&nbsp;
                        <i class="fa fa-file"></i> Contract &nbsp;&nbsp;
                        <i class="fa fa-map-marker"></i> London
                    </p>

                    <h3>Lorem ipsum dolor sit</h3>

                    <p><strong>$60 000</strong></p>

                    <p> Medical / Health Jobs</p>
                    <p> BMI Kings Park Hospital</p>

                    <div class="major-actions">
                        <a href="/jobdetails" class="button small next">View Job</a>
                    </div>
                </header>
            </article>

            <article>
									<span class="image">
										<img src="images/product-3-720x480.jpg" alt="" />
									</span>

                <header class="major">
                    <p>
                        <i class="fa fa-calendar"></i> 15-06-2020 &nbsp;&nbsp;
                        <i class="fa fa-file"></i> Contract &nbsp;&nbsp;
                        <i class="fa fa-map-marker"></i> London
                    </p>

                    <h3>Lorem ipsum dolor sit</h3>

                    <p><strong>$60 000</strong></p>

                    <p> Medical / Health Jobs</p>
                    <p> BMI Kings Park Hospital</p>

                    <div class="major-actions">
                        <a href="/jobdetails" class="button small next">View Job</a>
                    </div>
                </header>
            </article>

            <article>
									<span class="image">
										<img src="images/product-4-720x480.jpg" alt="" />
									</span>

                <header class="major">
                    <p>
                        <i class="fa fa-calendar"></i> 15-06-2020 &nbsp;&nbsp;
                        <i class="fa fa-file"></i> Contract &nbsp;&nbsp;
                        <i class="fa fa-map-marker"></i> London
                    </p>

                    <h3>Lorem ipsum dolor sit</h3>

                    <p><strong>$60 000</strong></p>

                    <p> Medical / Health Jobs</p>
                    <p> BMI Kings Park Hospital</p>

                    <div class="major-actions">
                        <a href="/jobdetails" class="button small next">View Job</a>
                    </div>
                </header>
            </article>

            <article>
									<span class="image">
										<img src="images/product-5-720x480.jpg" alt="" />
									</span>

                <header class="major">
                    <p>
                        <i class="fa fa-calendar"></i> 15-06-2020 &nbsp;&nbsp;
                        <i class="fa fa-file"></i> Contract &nbsp;&nbsp;
                        <i class="fa fa-map-marker"></i> London
                    </p>

                    <h3>Lorem ipsum dolor sit</h3>

                    <p><strong>$60 000</strong></p>

                    <p> Medical / Health Jobs</p>
                    <p> BMI Kings Park Hospital</p>

                    <div class="major-actions">
                        <a href="/jobdetails" class="button small next">View Job</a>
                    </div>
                </header>
            </article>

            <article>
									<span class="image">
										<img src="images/product-6-720x480.jpg" alt="" />
									</span>

                <header class="major">
                    <p>
                        <i class="fa fa-calendar"></i> 15-06-2020 &nbsp;&nbsp;
                        <i class="fa fa-file"></i> Contract &nbsp;&nbsp;
                        <i class="fa fa-map-marker"></i> London
                    </p>

                    <h3>Lorem ipsum dolor sit</h3>

                    <p><strong>$60 000</strong></p>

                    <p> Medical / Health Jobs</p>
                    <p> BMI Kings Park Hospital</p>

                    <div class="major-actions">
                        <a href="job-details.html.twig" class="button small next">View Job</a>
                    </div>
                </header>
            </article>
        </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
            </ul>
            <ul class="copyright">
                <li>Copyright © 2020 Company Name - Template by:</li>
                <li> <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>