{% extends 'base.html.twig' %}

{% block title %}New GrilleEvaluation{% endblock %}

{% block content %}
    <h1>Create new GrilleEvaluation</h1>
    {% if value==1 %}
        <span style="color:#ff0000">Vous avez utilisé un gros mot dans votre commentaire.Veuillez écrire votre commentaire de nouveau</span>
        <br>
    {% endif %}
    {{ include('grille_evaluation/_form.html.twig') }}

    <a href="{{ path('grille_evaluation_index') }}">back to list</a>
{% endblock %}
