{# templates/emails/registration.html.twig #}
<h3>Vous Avez été retenu pour un Entretien!</h3>

Bonjour {{ name }}! Veuillez consulter notre site .

{# example, assuming you have a route named "login" #}
Pour confirmer votre entretien, Cliquer: <a href="{{ absolute_url(path('confirmation_entretien', {'id':idE})) }}">ICI</a>.

à bientot!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">